#thumbs 
{ 
    padding-top: 10px;
    /*overflow: hidden;*/
    margin-left: 5%;
    width: 90%;
}
#thumbs img, #largeImage {
    border: 1px solid gray;
    padding: 4px;
    background-color: white;
    cursor: pointer;
}
#thumbs img {
    float: left;
    margin-right: 6px;
}

#gallery{
    /*position: relative;*/
    width: 40%;
    float: left;
}

#panel { 
    position: relative;
    /*width: 100%;*/
}

#thumbs img{
    width: 100px !important;
    height: 100px !important;
}

#largeImage{
    /*width: 300px !important;*/
    width: 90%;
    height: 300px !important;
    margin-left: 5%;
}

.page_product_description{
    float: right;
    /*overflow:auto;*/
    top:0; 
    width:60%; 
    background-color:White; 
    position: relative;
    /*height: 100%;*/
}

.wrappy{
    /*clear: both;*/
    /*overflow: hidden;*/
    /*height: 100%;*/
    position: relative;
}

.buttons a{
    padding-top: 5px;
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
}

.buttons a:hover{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.buythis{
    float: right;
    width: 18%;
    height: 10%;
    margin-top: -40px;
    margin-right: 15%;
    padding-top: 2px;
    background-color: orange;
    border-radius: 3px 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.buythis:hover{
    background-color: darkorange;
}

.buythis a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.buythis a:hover{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.page_product_description td{
    padding: 5px 15px;
}

.cart_buy{
    float: right;
    margin-left: 45%;
    margin-top: 30px;
}

#anchortag{
    background-color: orange;
    padding: 7px 7px;
    border: 1px solid black;
    border-radius: 4px 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    text-decoration: none;
    color: black;
}
#anchortag:hover{
    background-color: darkorange;
    text-decoration: none;
    color: black;
}

.sale_note_page{
    position: absolute;
    z-index: 20;
    background-color: red;
    width: 100px;
    height: 20px;
    left: 10%;
    bottom: 20px;
    /*margin-top: 10px;*/
    border-radius: 10px 10px;
    padding: 0 30px;
}

.lc{
    font-weight: bold;
}
.sale_note_page p{
    position: absolute;
    top: 0px;
    color: yellow;
}

.top_note_page{
    position: absolute;
    z-index: 20;
    background-color: yellow;
    width: 100px;
    height: 20px;
    top: 20px;
    /*margin-top:-50%;*/
    right: 10%;
    border-radius: 10px 10px;
    padding: 3px 35px;
}

.top_note_page p{
    position: absolute;
    color: red;
    font: bold 12px verdana, arial;
}

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

.media{
   padding: 10px 0px;
}

.container{
    width: 100% !important;
    margin-left: 20% !important;
}

.btn-group{
    margin-top: 30px;
}

.add-comment form{
    margin-top: 100px;
    margin-left: 5%;
    text-align: center;
}

.add-comment #add_submit{
    padding: 7px 7px;
}

textarea{
    width: 60%;
    height: 100px;
    min-width: 60%;
    min-height: 100px;
    max-width: 60%;
    max-height: 200px;
}